.columns {
    display: flex;
    justify-content: space-around;
    font-family: $font-base;
    color: $font-color;
    background-color: rgba(255, 196, 0, 0.916);
    padding: 50px;
    margin-bottom: 2rem;
  
    &__numbers {
      font-size: 90px;
    }

    &__bags {
        font-size: 1.125rem;
    }
  
    &__lorem {
      padding: 28px 0 30px 0;
      width: 334px;
    }
  }